<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maki.androidprojekat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.PostsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activites.CreatePostActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activites.ReadPostActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activites.SettingsAcitivity">
        </activity>
        <provider
            android:authorities="com.example.maki.androidprojekat"
            android:name=".Database.ContentProvider"/>

    </application>

</manifest>